.row
  .col-md-12
    %table.table.table-condensed.center-content.margin_table
      %thead
        %tr
          %th= t('name')
          %th= t('armor')
          %th= t('clan')


        %tbody
          %tr
            - samurais.each do |s|
              %tr
                %td= s.name
                %td= s.armor
                %td= s.clan.name

